.master-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.main-content {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

.step-container {
  padding: 0 2rem;
  margin-top: 1rem;
  position: relative;
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.step-content h2 {
  color: var(--primary-dark);
  margin-bottom: 0.5rem;
}

.step-content p {
  color: var(--text-muted);
}

.step-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.step-action-first {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }
  
  .step-container {
    padding: 1.5rem;
  }
}