# General
**/.git
**/.DS_Store
**/.env
**/.venv
**/venv
**/env
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/.idea
**/.vscode
**/*.log
**/Thumbs.db

# Frontend
**/build
**/.cache
**/.next
**/dist
**/out
**/coverage
**/.jest
**/.storybook
**/storybook-static
**/cypress

# Backend
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/.pytest_cache
**/.mypy_cache
**/htmlcov
**/.coverage
**/site


**/docker-compose.override.yml
**/docker-compose.dev.yml
**/test
**/tests
**/temp
**/tmp
**/*.bak
**/*.swp
**/certs/*.pem